ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1ecec;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(46, 44, 44);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #f1ecec;
  background-color: #db8181;
}

.contador {
  color: black;
}